<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
      <div class="border-black">
        <h3> <%= @restaurant.name %> </h3>

          <%= @restaurant.address %>
          <%= @restaurant.phone_number %>
          <%= @restaurant.category %>
          <ul>
            <% @restaurant.reviews.each do |review| %>
              <li>
                <%= review.content %> - <%= review.rating %>
              </li>
            <% end %>
          </ul>

          <%= link_to 'Add review', new_restaurant_review_path(@restaurant), class: "btn btn-success" %>

          <%= link_to 'Go back to restaurant list', restaurants_path, class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>
